[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = git://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/ruby"]
	path = puppet/modules/ruby
	url = git://github.com/example42/puppet-ruby.git
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = git://github.com/example42/puppi.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = git://github.com/willdurand/puppet-nodejs.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/wget"]
	path = puppet/modules/wget
	url = git://github.com/maestrodev/puppet-wget.git
